@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

/* #2e4057, #af90a9, #66ced6, #adfc92, #9c0d38 */

:root {
    --primary-900: #1e2329;
    --primary-400: #6e7279;
    --primary-200: #d2d3d4;

    --accent-900: #2cb000;
    --accent-200: #ffeaea;

    --light: #fff;
    --dark: #1e2329;

    --body-font: "Montserrat", sans-serif;
    --heading-font: "Montserrat", sans-serif;
}

body {
    font-family: var(--body-font);
}
