@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

/* #2e4057, #af90a9, #66ced6, #adfc92, #9c0d38 */

:root {
    --primary: #2e4057;
    --accent: #ff9494;
    --success: #2cb000;

    --light: #fff;
    --gray: #6e7279;
    --dark: #1e2329;

    --body-font: "Montserrat", sans-serif;
    --heading-font: "Montserrat", sans-serif;
}

body {
    font-family: var(--body-font);
}
